/*
 * ├─── foundation-html-css-js
 * ├─── lesson 03: css - bootstrap
 * └─── author: @philsherry
 */


/*
 * └─── fonts
 */


/*
 * └─── base
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #14c179;
  color: #222;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


/* Some older browsers have no idea what these new elements are, so they treat them as inline elements.
 * By explicitly settings them as display:block here, we're avoiding any surprises.
 */

header,
main,
section,
article,
aside,
footer {
  display: block;
}


/*
 * └─── typography
 */

h1,
h2 {
  color: #000;
}

h1,
h2 {
  font: normal 3em/2 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.25;
}

.navbar-header h1 {
  color: #ccc;
  display: inline-block;
  font-size: 1.75em;
  line-height: 2;
  margin: 0;
  text-shadow: 1px 1px 0 #000;
}

a:link {
  color: #000;
}

a:visited {
  color: #13905c;
  text-decoration: underline;
}

a:focus,
a:hover,
a:active {
  color: #1b5223;
  text-decoration: underline;
}

abbr {
  border-bottom: 1px dotted #000;
}

main {
  color: #ccc;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

footer {
  font-size: 80%;
}

code {
  background-color: #222;
  color: #e55126;
  text-shadow: 1px 1px 0 #000;
}

/*
 * └─── layout
 */

body {
  padding-bottom: 30px;
  padding-top: 70px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 *
 *    http://nicolasgallagher.com/micro-clearfix-hack/
 */

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
  *zoom: 1;
}

.hide {
  display: none;
  visibility: hidden;
}

.show {
  display: block;
  visibility: visible;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden:active,
.visuallyhidden:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

header,
footer,
.timetable {
  clear: both;
  margin: 0 auto 1em;
}

.navbar-brand > img {
  height: 40px;
  margin-top: -10px;
}

main {
  background-color: #13905c;
  border-radius: 3px;
  padding: 10px 20px;
}

.img-main {
  display: block;
  margin: auto;
}

article {
  float: left;
  width: 66%;
}

aside {
  float: right;
  width: 30%;
}

.trouble {
  background-color: #111;
  border-radius: 3px;
  color: #ddd;
  margin-bottom: 10px;
  padding: 3px 6px;
}

.timetable {
  width: 100%;
}

.timetable caption,
.timetable tfoot {
  background-color: #1d563e;
  text-align: center;
}

.timetable th {
  background-color: #094a2f;
}

.timetable th,
.timetable td,
.timetable caption {
  color: #fff;
  padding: 6px;
}

.timetable,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  border-color: #0e6f47;
}

/* Select every even row to aid readability */
.timetable tr:nth-child(even) {
  background-color: #0e6f47;
}


/*
 * └─── animation
 */


/*
 * └─── responsive
 */

img {
  max-width: 100%;
}
